.app-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 150px 0;
  background: #E5E5E5;
}

.form-container,
.user-details {
  width: 30%;
}

.form-container {
  padding: 70px;
}

.form-container,
.form-review {
  border-radius: 10px;
}

.form-element {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  background: #fff;
}